<a href="https://colab.research.google.com/github/Rogerio-mack/IMT_Banco_de_Dados/blob/main/SQL_SQLite_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1. Create Database

Crie e popule o database de [Vendas](https://github.com/Rogerio-mack/IMT_Banco_de_Dados/blob/main/exercicios/vendas.sql) no SQLite.

<img src="https://github.com/Rogerio-mack/IMT_Banco_de_Dados/blob/main/exercicios/vendas.png?raw=true" width=500, align="right">

In [2]:
import sqlite3

# Connect to the database
db_path = 'mydatabase.db'

try:
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # Create the tables
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS clientes (
            id_cliente INT PRIMARY KEY,
            nome VARCHAR(100) NOT NULL,
            email VARCHAR(100) UNIQUE,
            data_cadastro DATE,
            cidade VARCHAR(50),
            estado CHAR(2),
            faixa_etaria VARCHAR(20),
            status VARCHAR(20)
        )
    ''')

   ...


    # Populate the tables
    cursor.execute("INSERT OR IGNORE INTO clientes VALUES (1, 'Maria Oliveira', 'maria@email.com', '2022-01-15', 'São Paulo', 'SP', '30-40', 'Ativo')")
    cursor.execute("INSERT OR IGNORE INTO clientes VALUES (2, 'João Silva', 'joao@email.com', '2022-02-20', 'Rio de Janeiro', 'RJ', '20-30', 'Ativo')")

   ...

    conn.commit()

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    if conn:
        cursor.close()
        conn.close()

# Ex2. Join 1

Liste o nome de todos os clientes que fizeram compras de produtos da categoria 'Eletrônicos'.

In [ ]:
import sqlite3

# Connect to the database
db_path = 'mydatabase.db'

try:
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # sua solução
    ...

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    if conn:
        cursor.close()
        conn.close()

# Ex3. Join 2

Liste o total de vendas com forma_pagamento PIX de todos os clientes do estado 'SP'.

In [ ]:
import sqlite3

# Connect to the database
db_path = 'mydatabase.db'

try:
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # sua solução
    ...

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    if conn:
        cursor.close()
        conn.close()

# Ex4. Join e Group By

Liste o total de vendas por forma_pagamento somente de clientes do estado 'SP' cujo valor total tenha excedido 200.

In [ ]:
import sqlite3

# Connect to the database
db_path = 'mydatabase.db'

try:
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # sua solução
    ...

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    if conn:
        cursor.close()
        conn.close()